* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.goods {
    width: 600px;
    margin: auto;
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.goods .goods-item {
    width: 30%;
    background-image: url(https://i.ytimg.com/vi/bBWuoZBM3JU/hqdefault.jpg);
    height: 60px;
    background-position: center;
    background-size: cover;
    height: 100px;
    margin-bottom: 20px;
}

.goods.show {
    display: flex;
}